<% if @coaster.errors.any? %>
  <div class="text-error">
    <h2>Form is invalid</h2>
    <ul>
      <% @coaster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>