<% if @coasters.present? %>
  <h3>Search results</h3>
  <ul>
  <% @coasters.each do |coaster| %>
  <! provides links for each roller coaster called and that roller coaster's park >
    <li class="results"><%= link_to coaster.name, coaster %>
      (Park: <%= link_to Park.find(coaster.park_id).name, Park.find(coaster.park_id) %>)</li>
  <% end %>
  </ul>
<% end %>