<h1>Search for coasters</h1>

<%= form_tag('/coasters', method: 'get') do %>
  <%= text_field_tag(:query, nil ,:placeholder => 'Search for a coaster') %>
  <%= submit_tag 'Search' %>
<% end %>
<br/>
<%= render 'results' %>

<! Returns error message if search returns no results. >
<% if @coasters.empty? && params[:query] %>
  No results returned.
<% end %>