<h1>Search for coasters</h1>

<%= form_tag('/coasters', method: 'get') do %>
  <%= text_field_tag(:query, nil ,:placeholder => 'Search for a coaster') %>
  <%= submit_tag 'Search' %>
<% end %>

<%= render 'results' %>