<h1>Search for parks</h1>

<%= form_tag('/parks', method: 'get') do %>
  <%= text_field_tag(:query, nil, :placeholder => 'Search for a park') %>
  <%= submit_tag 'Search' %>
<% end %>
<br/>
<%= render 'results' %>