<! shows a park >
<div class="left">
<h1>Park: <%= @park.name %></h1>

<h3>Roller Coasters</h3>
<! provides links to all coasters in the park >
<ul>
  <% @coasters.each do |coaster| %>
    <li class="results"><%= link_to coaster.name, coaster %></li>
  <% end %>
</ul>

<%= render 'links' %>
</div>

<! API for Google Maps - set up to show the park >
<div class="right">Location of this park<%= gmaps4rails(@json) %></div>