<h1>Add a new user</h1>

<form action="/users/create" method="post">
  <input type="text" name="name" placeholder="Name"><br/>
  <input type="text" name="user_name" placeholder="User Name"><br/>
  <input type="text" name="email" placeholder="Email address"><br/>
  <input type="text" name="password" placeholder="Password"><br/>
  <button>Create user</button>
</form>