<h2>Hello there!  Welcome to So Inclined!</h2>

<h4 id="intro">So Inclined is a website designed to provide
you with the ability to look up roller coasters
and keep track of the ones you've already ridden.
You're welcome to search around for amusement parks
and roller coasters. If you want to start your coaster list,
or add parks and coasters to our currently limited database,
please either log in or sign up, using the links above.</h4>

<div class="right"><img src="http://www.negative-g.com/six-flags-america/SFA-5-8-2005-Jokers-Jinx-7.jpg"></div>